<link rel="stylesheet" href="/css/browse.css">

<div id = 'main'>
    <ul class="list-group">
        {{#each found}}
            <li class="list-group-item"><a href='../collective/{{this.id}}'>{{this.title}}</a>  | {{this.description}}</li>
        {{/each}}
    </ul>
</div>
