<link rel="stylesheet" href="/css/create.css">

<div id = 'main'>
  <container class = "container-fluid"> 
    <div class="form-group">
        <label for="artType">Collectives</label>
        <select class="form-control" id="collectiveID">
            {{!-- Populate with a users collectives later --}}
        <option>None</option>
        <option>Collective1</option>
        <option>Collective2</option>
        <option>Collective3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="artType">Art Type</label>
        <select class="form-control" id="artType">
        <option>Text</option>
        <option>Audio</option>
        <option>Image</option>
        </select>
    </div>

    <div class='form-group'>
        <label for="title">Title</label>
        <input class="form-control" type="text" id = 'title'>
    </div>


    <div class='form-group'>
        <div id='image'></div>
        <button class="btn btn-outline-secondary edit" id='editImage'>Change URL</button>
    </div>

    <div class='form-group'>
    <button class="btn btn-outline-secondary edit" id='editAudio'>Change URL</button>
    <div id = 'audio'></div>
    </div>

    <div id = 'imageInput' class='form-group'>
        <label for="imageURL">Image URL</label>
        <input class="form-control" type="text" id = 'imageURL' style='margin-bottom: 1rem'>
        <button type="submit" class="btn btn-outline-secondary" id='addImage'>Add Image</button>
    </div>

    <div id = 'audioInput' class='form-group'>
        <label for="audioURL">Audio URL</label>
        <input class="form-control" type="text" id = 'audioURL' style='margin-bottom: 1rem'>
        <button id='addAudio' type="submit" class="btn btn-outline-secondary">Add Audio</button>
    </div>

    <div class="form-group">
        <label for='textContent'>Description</label>
        <textarea class="form-control" id="textContent" rows="3"></textarea>
    </div>
    
  <button type="submit" class="btn btn-outline-secondary" id='submit'>Submit</button>

  </container>
</div>

<script>
    $('#audioInput').hide()
    $('#imageInput').hide()
    $('.edit').hide()

    $('#artType').on('change',function(event){
        if(this.value == 'Image'){
            $('#imageInput').show()
            $('#audio').empty()
            $('#audioInput').hide()
            $('#editAudio').hide()
        }
        else if(this.value == 'Audio'){
            $('#imageInput').hide()
            $('#image').empty()
            $('#audioInput').show()
            $('#editImage').hide()
       }
       else{
            $('#audio').empty()         
            $('#image').empty()
            $('#audioInput').hide()
            $('#imageInput').hide()
            $('#editAudio').hide()
            $('#editImage').hide()

       }
    });
    $('#addImage').on('click',function(event){
        var imageURL = $('#imageURL').val()
        console.log(imageURL)
        var newImage = $('<img>').attr('src', imageURL)
        $('#imageInput').hide()
        $('#image').append(newImage)
        $('#editImage').show()
    });
    $('#addAudio').on('click',function(event){
        var audioURL = $('#audioURL').val()
        console.log(audioURL)
        var newAudio = $('<audio controls>')
        var newSource = $('<source>').attr('src',audioURL)
        newAudio.append(newSource)
        $('#audioInput').hide()
        $('#audio').prepend(newAudio)
        $('#editAudio').show()
    });
    $('#editAudio').on('click',function(event){
        $(this).hide()
        $('#audioInput').show()
        $('#audio').empty()
    })
    $('#editImage').on('click',function(event){
        $(this).hide()
        $('#imageInput').show()
        $('#image').empty()
    })

    $('#submit').on('click',function(event){
        event.preventDefault()
        var createObj = {}
        createObj.type = $('#artType').val()
        createObj.description = $('#textContent').val()
        createObj.title = $('#title').val()
        if(createObj.type == 'Audio'){
            createObj.audio = $('#audioURL').val()
        }
        else if(createObj.type == 'Image'){
            createObj.image = $('#imageURL').val()
        }
        console.log(createObj)
    })


</script>



