<link rel="stylesheet" href="/css/createcollective.css">

<div id = 'main'>
  <container class = "container-fluid"> 
    
    <div class='form-group'>
        <label for="title">Title</label>
        <input class="form-control" type="text" id = 'title'>
    </div>


    <div class="form-group">
        <label for='textContent'>Description</label>
        <textarea class="form-control" id="textContent" rows="3"></textarea>
    </div>
    
  <button type="submit" class="btn btn-outline-secondary" id='submit'>Submit</button>

  </container>
</div>

<script>
    $('#submit').on('click',function(event){
        event.preventDefault()
        var createObj = {}
        createObj.description = $('#textContent').val()
        createObj.title = $('#title').val()
        console.log(createObj)
        $.post('/createcollective',createObj,function(data){
            location.assign(data)
        })
    })



</script>



