<link rel="stylesheet" href="/css/home.css">


<div id='main'>

</div>


<script>
var id = -5
for(var i = 0; i < 4; i++){
    populate()
}

$(document).on("scroll", function() {
    if($(document).height() - $(document).scrollTop() - $(window).height() < 1){
        populate()

    }

})



function populate(){
    id += 5;
    $.get('/api/submissions', {id: id},function(response) {
        var results = response;
        for (var i = 0; i < results.length; i++) {
            var itemDiv = $("<div>").addClass('imagebox');
            var linkContainer = $('<a>').attr('href','/submission/'+results[i].id)
            var itemImage = $("<img>")
            if(results[i].type == 'image'){
                itemImage.attr("src", results[i].file);
            }
            else if( results[i].type == 'audio'){
                itemImage.attr("src", "https://cdn1.iconfinder.com/data/icons/musical-notes-1/100/Music_Note6-01-512.png");
            }
            else{
                itemImage.attr("src", "/images/text.jpg");
            }
            var label = $('<div class="label">')
            label.text(results[i].title)
            linkContainer.append(itemImage)
            itemDiv.append(linkContainer);
            itemDiv.append(label)
            $("#main").append(itemDiv);
        }

    })
}


</script>