
#main{
    margin: 0px 15% 0px 15%;
    height: -webkit-fill-available;
}

textarea{
    resize: auto;
}



#submissionheader{
    padding-bottom: 10px;
}

#submissiontitle{
    font-size: 36px;
    font-weight: bold;
    float:left;
    margin-bottom: 4px;
} 

#submissionauthor{
    font-size: 14px;
    margin-top: 4px;
}

#submissiondate{
    font-size: 14px;
}

#submissionbody{
    margin-bottom: 4px;
    white-space: pre-line;
}

#title-avatar{
    height: 60px;
}

.headers{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 24px;
}

.avatar{
    height: 50px;
    margin-right: 16px;
    float: left;
}

#editheader{
    margin-bottom: 9px;
}

#titleEdit{
    font-size: 36px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    border-left: 0px;
    border-right: 0px;
} 

#bodyEdit{
    border-left: 0px;
    border-right: 0px;
    padding: 0px;
    margin: 0px;
}

.comment{
    border-left: 3px solid lightgray;
}

.commentauthor{
    float: left;
    padding:2px 4px 2px 0px;
    font-size: 14px;
}

.commentAvatar{
    height: 100%;
    margin-right: 8px;
    float: left;
}

.commentdate{
    float: left;
    padding:2px 0px 2px 0px;
    font-size: 14px;
}

.commentheader{
    height:26px;
}

audio{
    height: 64px;
    width: calc(100% - 200px);


}

/* img{
    max-height: 360px;
    

} */

#submissionimage{
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.349);
    border: solid rgba(48, 46, 30, 0.801) 1px;
    margin: 20px 0px 40px 0px;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#submission {
    background-color: rgba(192, 192, 192, 0.659);
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin: auto;
    height: 80vh;
    
}

#submission {
    display: block;
    margin: auto;
    height: 80vh;
}

.commentDelete {
    float: right;
    color: red;
}

.description {
    position: absolute;
    bottom: 5em;
}