form.signup,
form.login {
  margin-top: 50px;
}

.carousel-container {
  position: relative;
  top: 50px;
  margin: 60px
}


span#username.member-name {
  position: absolute;
  right: 10px;
  top: 15px;
}

.prev-slide {
  
}
