form.signup,
form.login {
  margin-top: 50px;
}

.carousel-container {
  position: relative;
  top: 50px;
  margin: 60px
}


span#username.member-name {
  position: absolute;
  right: 10px;
  top: 15px;
}

.navbar-default {
  background-color: #cc92cd;
}

.navbar-default .navbar-brand {
  color: #fbf7f5;
}

.member-name {
  color: #fbf7f5;
}

body {
  /* background-color: 	#f9f9f9; */
  background-image:url("../images/what-the-hex.png");
}

.prev-slide {
  float: left;
  height: 36px;
  width: 36px;
}

.next-slide {
  float: right;
  height: 36px;
  width: 36px;
}

.slider-item {
  height: 168px;
  width: 168px;
  overflow: hidden;
  background-size: 168px, 168px;
}

.slider-item img{
  height: 140px;
  width: 168px;
}
